.stage-cube-cont {
  --cube-size: 100px;
  width: 50%;
  height: 100%;
  top: 0;
  margin-left: 0;
  position: absolute;
  right: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  transform: translateY(calc(var(--cube-size) * -1));
}

.cube-spinner {
  animation-name: spincube;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-duration: 12s;
  transform-style: preserve-3d;
  transform-origin: var(--cube-size) var(--cube-size) 0;
  margin-left: calc(50% - var(--cube-size));

  div {
    position: absolute;
    width: calc(var(--cube-size) * 2);
    height: calc(var(--cube-size) * 2);
    border: 1px solid #ccc;
    background-color: rgba(255, 255, 255, 0.4);
    font-size: var(--cube-size);
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 20px 0 lightyellow;
  }

  .face1 {
    transform: translateZ(var(--cube-size));
  }
  .face2 {
    transform: rotateY(90deg) translateZ(var(--cube-size));
  }
  .face3 {
    transform: rotateY(90deg) rotateX(90deg) translateZ(var(--cube-size));
  }
  .face4 {
    transform: rotateY(180deg) rotateZ(90deg) translateZ(var(--cube-size));
  }
  .face5 {
    transform: rotateY(-90deg) rotateZ(90deg) translateZ(var(--cube-size));
  }
  .face6 {
    transform: rotateX(-90deg) translateZ(var(--cube-size));
  }
}

@keyframes spincube {
  from,
  to {
    transform: rotateY(0deg);
    transform: rotateX(0deg);
    transform: rotateZ(0deg);
  }
  16% {
    transform: rotateY(-90deg);
  }
  33% {
    transform: rotateY(-90deg) rotateZ(90deg);
  }
  50% {
    transform: rotateY(-180deg) rotateZ(90deg);
  }
  66% {
    transform: rotateY(-270deg) rotateX(90deg);
  }
  83% {
    transform: rotateX(90deg) rotateX(90deg);
  }
}

@media (min-width: 768px) and (max-width: 1200px) and (min-height: 1000px) {
  .stage-cube-cont {
    --cube-size: 80px;
    transform: translateY(0);
    width: 100%;
    height: 100%;
    align-items: flex-end;
  }

  .cube-spinner {
    padding-bottom: 35%;
  }
}

@media (max-width: 767px) {
  .stage-cube-cont {
    --cube-size: 50px;
    transform: translateY(0);
    width: 100%;
    height: 100%;
    align-items: flex-end;
  }

  .cube-spinner {
    padding-bottom: 50%;
  }
}

@media (max-height: 750px) {
  .stage-cube-cont {
    display: none;
  }
}
